{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<h2>Create Account</h2>

<form method="POST">
  <input type="email" name="email" id="email" placeholder="Email" required />
  <input
    type="text"
    name="firstName"
    id="firstName"
    placeholder="First Name"
    required
  />
  <input
    type="password"
    id="password1"
    name="password1"
    placeholder="Password"
    required
  />
  <input
    type="password"
    name="password2"
    id="password2"
    placeholder="Confirm Password"
    required
  />
  <button type="submit">Sign Up</button>
</form>
{% endblock %}
